.page {
    display: flex;
    z-index: auto;
}

.first-panel {
    border: 10px brown solid;
    background-color: rgb(32, 151, 32);
    margin: 0;
    z-index: 1;
    width: fit-content;
}

.second-panel {
    display: flex;
    flex-direction: row;
    margin: 0;
    z-index: 1;
}

.auto-button {
    width: fit-content;
    height: fit-content;
    border: rgb(80, 78, 78);
    background-color: grey;
    font-size: 90px;

    &:hover {
        background-color: rgb(185, 176, 176);
    }
}

.thing {
    position: absolute;
    margin: 0;
    z-index: 2;
}

.thing2 {
    position: absolute;
    margin: 0;
    z-index: 2;
    display: none;
}

.scoreboard{
    display: flex;
    flex-direction: column;
}

.score {
    display: flex;
    height:100px;
    width: 400px;
    min-width: fit-content;
    color: red;
    background-color: rgb(176, 176, 255);
    align-items: center;
    font-size: 30px;
    z-index: 1;
}

.overlay {
    position: absolute;
    display: flex;
    background-color: rgba(0, 0, 0, 0.521);
    width: 920px;
    height: 920px;
    z-index: 3;

    & > div {
        color: white;
        z-index: 4;
        transform: translate(370px, 370px);
    }
}