.page {
    display: flex;
}

.plain {
    border: 10px brown solid;
    background-color: rgb(32, 151, 32);
    margin: 0;
}

.thing {
    position: absolute;
    margin: 0;
}

.score {
    display: flex;
    height:100px;
    width: 400px;
    min-width: fit-content;
    color: red;
    background-color: rgb(176, 176, 255);
    align-items: center;
    font-size: 30px;
}

.body {
    display: none;
    position: absolute;
    height: 90px;
    width: 90px;
}
