@mixin grid($row_start, $row_end, $col_start, $col_end, $bgc){
    grid-row-start: $row_start;
    grid-row-end: $row_end;
    grid-column-start: $col_start;
    grid-column-end: $col_end;
    background-color: $bgc;
}

.calculator-body {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.calculator-screen {
    @include grid($row_start:1, $row_end:3, $col_start:1, $col_end:5, $bgc:white);
}
.calculator-1 {
    @include grid($row_start:5, $row_end:6, $col_start:1, $col_end:2, $bgc:white);
}
.calculator-2 {
    @include grid($row_start:5, $row_end:6, $col_start:2, $col_end:3, $bgc:white);
}
.calculator-3 {
    @include grid($row_start:5, $row_end:6, $col_start:3, $col_end:4, $bgc:white);
}
.calculator-4 {
    @include grid($row_start:4, $row_end:5, $col_start:1, $col_end:2, $bgc:white);
}
.calculator-5 {
    @include grid($row_start:4, $row_end:5, $col_start:2, $col_end:3, $bgc:white);
}
.calculator-6 {
    @include grid($row_start:4, $row_end:5, $col_start:3, $col_end:4, $bgc:white);
}
.calculator-7 {
    @include grid($row_start:3, $row_end:4, $col_start:1, $col_end:2, $bgc:white);
}
.calculator-8 {
    @include grid($row_start:3, $row_end:4, $col_start:2, $col_end:3, $bgc:white);
}
.calculator-9 {
    @include grid($row_start:3, $row_end:4, $col_start:3, $col_end:4, $bgc:white);
}
.calculator-div {
    @include grid($row_start:6, $row_end:7, $col_start:4, $col_end:5, $bgc:white);
}
.calculator-mult {
    @include grid($row_start:5, $row_end:6, $col_start:4, $col_end:5, $bgc:white);
}
.calculator-add {
    @include grid($row_start:3, $row_end:4, $col_start:4, $col_end:5, $bgc:white);
}
.calculator-sub {
    @include grid($row_start:4, $row_end:5, $col_start:4, $col_end:5, $bgc:white);
}
.calculator-equ {
    @include grid($row_start:6, $row_end:7, $col_start:1, $col_end:5, $bgc:white);
}
.calculator-0 {
    @include grid($row_start:6, $row_end:7, $col_start:2, $col_end:3, $bgc:white);
}
.calculator-del {
    @include grid($row_start:6, $row_end:7, $col_start:1, $col_end:2, $bgc:white);
}
