body {
  background-image: url(https://wallpaperaccess.com/full/3374936.jpg);
  margin: 0; }

.page {
  display: flex;
  color: "initial";
  width: "initial";
  height: "initial";
  margin: 0;
  padding: "initial";
  height: 100%;
  overflow: auto;
  min-height: 0;
  flex-direction: column; }

.header {
  justify-self: flex-start;
  position: sticky;
  top: 0; }

.header-menue {
  display: flex;
  color: "initial";
  width: "initial";
  height: 40px;
  margin: 0;
  padding: 0;
  flex: 0;
  flex-direction: row;
  background-color: transparent;
  min-height: 0; }
  .header-menue > a {
    /* $display, $color, $width, $height, $margin, $padding */
    display: block;
    color: #ffffff;
    width: "initial";
    height: 30px;
    margin: 5px 0 0;
    padding: "initial";
    background-color: rgba(173, 216, 230, 0.233);
    text-decoration: none;
    text-align: center;
    flex: 1;
    min-height: 0; }
    .header-menue > a:hover {
      background-color: #7ec5dd;
      animation-name: menufield;
      animation-duration: 10s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }

@media (max-width: 600px) {
  .header-menue {
    flex-direction: column;
    height: 150px; }

  .header {
    position: relative; } }
@keyframes menufield {
  0% {
    padding: 0; }
  100% {
    padding-right: 200px; } }
.content {
  min-height: fit-content; }

.footer {
  width: 100%;
  background-color: white;
  min-height: 50px;
  justify-self: flex-end; }

.post-container {
  display: grid;
  color: "initial";
  width: 100%;
  height: "initial";
  margin: 50px 0 0;
  padding: "initial";
  -ms-grid-row-span: 3;
  -ms-grid-column-span: 3;
  row-gap: 10px;
  column-gap: 10px; }

.grid-post1 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4; }

.grid-post2 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2; }

.grid-post3 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4; }

.grid-post4 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2; }

.grid-post5 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3; }

.grid-post6 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4; }

.post {
  display: flex;
  color: #ffffff;
  width: "initial";
  height: "initial";
  margin: "initial";
  padding: "initial";
  background-color: rgba(76, 0, 130, 0.233);
  font-size: 3em;
  justify-content: center;
  align-items: center; }
  .post:hover {
    background-color: rgba(156, 41, 238, 0.486); }

.contact-field {
  display: "initial";
  color: "initial";
  width: 100%;
  height: "initial";
  margin: 800px 0 0;
  padding: "initial"; }
  .contact-field > h1 {
    color: white; }

.contact-field * {
  display: block; }

@media (min-width: 880px) {
  .content {
    height: 100%;
    overflow: auto; } }
.form {
  padding: 0 10% 0 10%;
  min-width: 0; }
  .form > * {
    display: inline-block;
    color: "initial";
    width: 100%;
    height: "initial";
    margin: 0 0 10px;
    padding: 15px; }

.label {
  display: inline;
  color: #ffffff;
  width: auto;
  height: "initial";
  margin: 50px 0 0 -100px;
  padding: "initial";
  font-size: 2em;
  float: left; }

/*# sourceMappingURL=style.css.map */
