body {
    background-image: url(https://wallpaperaccess.com/full/3374936.jpg);
    margin: 0;
}

.page {
    display: flex;
    height: 100%;
    overflow: auto;
    min-height: 0;
    flex-direction: column;
    margin: 0;
}

.header {
    justify-self: flex-start;
    position: sticky;
    top: 0;
}

.header-menue {
    flex:0;
    display: flex;
    flex-direction: row;
    height: 40px;
    margin-bottom: 0;
    background-color: transparent;
    padding-top: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
}

@media (max-width: 600px) {
    .header-menue {
        flex-direction: column;
        height: 150px;
    }

    .header {
        position: relative;
    }
    
}

.header-menue > a {
    display: block;
    height:30px;
    margin-top: 5px;
    background-color: rgba(173, 216, 230, 0.233);
    color: white;
    text-decoration: none;
    text-align: center;
    flex: 1;
    min-height: 0;
}

.header-menue a:hover {
    background-color: rgb(126, 197, 221);
}

.content{
    min-height: fit-content;
}

.footer{
    width: 100%;
    background-color: white;
    min-height: 50px;
    justify-self: flex-end;
}

.post-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 100%;
}

.post-container > div {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex: 0 0 25%
}

.post {
    display: flex;
    background-color: rgba(76, 0, 130, 0.233);
    color: white;
    font-size: 3em;
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
}

.contact-field {
    margin-top: 800px;
    width: 100%;
}

.contact-field > h1 {
    color: white;
}


.contact-field * {
    display: block;
}


@media (min-width: 880px) {
    .content {
        height: 100%;
        overflow: auto;
    }
    .post-container {
        height:100%;
    }
}

.form {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    padding-left: 10%;
    padding-right: 10%;
    min-width: 0;
}

.form >  * {
    display: inline-block;
    width:100%;
    margin-bottom: 10px;
    padding: 15px;
    /*flex: 1;*/
}

.label {
    color: white;
    font-size: 2em;
    display: inline;
    margin-left: -100px;
    float: left;
    width: auto;
    margin-top: 50px;
}