ul{
    list-style: none;
    padding: 0;
}
@mixin pattern($display: 'initial', $color: 'initial', $width: 'initial', $height: 'initial', $margin: 'initial', $padding: 'initial', $background-color: 'inital') {
    display: $display;
    color: $color;
    width: $width;
    height: $height;
    margin: $margin;
    padding: $padding;
    background-color: $background-color;
}

@mixin grid($-ms-grid-row-span: 'initial', $-ms-grid-column-span: 'initial', $row-gap: 'initial', $column-gap: 'initial') {
    row-gap: $row-gap;
    column-gap: $column-gap;
    @include pattern($display: grid, $width: 100%, $margin: 50px 0 0);
}

body {
    background-image: url(https://wallpaperaccess.com/full/3374936.jpg);
    margin: 0;
}

.page {
    @include pattern($display: flex, $margin: 0, $height: 100%);
    overflow: auto;
    flex-direction: column;
}

.header {
    justify-self: flex-start;
    position: sticky;
    top: 0;
}

.dropdown {
    @include pattern($display: block, $height:50px, $margin: 5px 0 0, $color: #ffffff, $background-color: #add8e63b);
    text-decoration: none;
    text-align: center;
    flex: 1;
}

.test{
    width: 20%;

    & > li > a {
        @include pattern($display: none ,$height: 50px, $width: 100%, $margin: 0, $color: #ffffff, $background-color: #add8e6);
        text-decoration: none;
        text-align: center;
    }

    &:hover > li > a {
        display: block;

        &:hover {
            color: red;
        }
    }

    &:hover .dropdown{
        background-color: #7ec5dd;
        animation: menufield 0.25s ease-in-out forwards;
    }
}

.header-menue {
    @include pattern($display: flex, $height: 40px, $padding: 0, $margin: 0, $background-color: transparent);
    flex:0;
    flex-direction: row;

    & > li {
        @include pattern($display: inline, $width:20%);
        list-style: none;

        & > a {
            @include pattern($display: block, $height:50px, $margin: 5px 0 0, $color: #ffffff, $background-color: #add8e63b);
            text-decoration: none;
            text-align: center;
            flex: 1;
            
            &:hover {
                background-color: #7ec5dd;
                animation: menufield 0.25s ease-in-out forwards;
            }
        }
    }
}

@keyframes menufield {
    0% {padding: 0;}
    100% {padding: 10px;}
}

.content {
    min-height: fit-content;
}

.footer {
    @include pattern($width: 100%, $background-color: #ffffff);
    min-height: 50px;
    justify-self: flex-end;
}

.post-container {
    @include grid($-ms-grid-row-span: 3, $-ms-grid-column-span: 3, $row-gap: 10px, $column-gap: 10px);
}

@mixin grid-post($row_start, $row_end, $col_start, $col_end) {
    grid-row-start: $row_start;
    grid-row-end: $row_end;
    grid-column-start: $col_start;
    grid-column-end: $col_end;
}

.grid-post1 {
    @include grid-post($row_start:1, $row_end:2, $col_start:1, $col_end:4);
}

.grid-post2 {
    @include grid-post($row_start:2, $row_end:3, $col_start:1, $col_end:2);
}

.grid-post3 {
    @include grid-post($row_start:2, $row_end:3, $col_start:2, $col_end:4);
}

.grid-post4 {
    @include grid-post($row_start:3, $row_end:4, $col_start:1, $col_end:2);
}

.grid-post5 {
    @include grid-post($row_start:3, $row_end:4, $col_start:2, $col_end:3);
}

.grid-post6 {
    @include grid-post($row_start:3, $row_end:4, $col_start:3, $col_end:4);
}

.post {
    @include pattern($display: flex, $color: #ffffff, $background-color: hsla(275, 100%, 25%, 0.231));
    font-size: 3em;
    justify-content: center;
    align-items: center;

    &:hover{
        background-color: hsla(275, 85%, 55%, 0.425)
    }
}

.contact-field {
    @include pattern($margin: 800px 0 0, $width: 100%);
    & > h1 {
        color: #ffffff;
    }
}

.contact-field * {
    display: block;
}

.form {
    padding: 0 10% 0 10%;
    min-width: 0;

    & > * {
        @include pattern($display: inline-block, $width:100%, $margin: 0 0 10px, $padding: 15px );
    }
}

.label {
    @include pattern($display: inline, $color: #ffffff, $width: auto, $margin: 50px 0 0 -100px);
    font-size: 2em;
    float: left;
}

@mixin contact-button {
    @include pattern($display: none ,$height: 50px, $width: 100%, $margin: 0, $color: #ffffff, $background-color: #add8e6);
    text-decoration: none;
    text-align: center;
    z-index: 1;

    &:hover {
        color: red;
    }
}

.mail-cover {
    @include contact-button();
}

.mail-value {
    @include contact-button();
}

.tel-cover {
    @include contact-button();
}

.tel-value {
    @include contact-button();
}

.insta-cover {
    @include contact-button();
}

.insta-value {
    @include contact-button();
}

.test:hover {
    & .mail-cover {
        display: block;
    }

    & .tel-cover {
        display: block;
    }

    & .insta-cover {
        display: block;
    }
}

.contact-container {
    &:hover {
        & .mail-cover {
            display: none;
        }

        & .mail-value {
            display: block;
        }

        & .tel-cover {
            display: none;
        }

        & .tel-value {
            display: block;
        }

        & .insta-cover {
            display: none;
        }

        & .insta-value {
            display: block;
        }
    }
}
/* Media */
@media (min-width: 880px) {
    .content {
        height: 100%;
        overflow: auto;
    }
}

@media (max-width: 600px) {
    $a: 1;
    $b: 2;
    .header-menue {
        height: 150px;
    }

    .header {
        position: relative;
    }
    .post-container {
        @include grid($-ms-grid-row-span: 6, $-ms-grid-column-span: 1, $column-gap: 10px);
    }

    @for $i from 1 through 6 {
        .grid-post#{$i} {
            @include grid-post($row_start: $a, $row_end: $b, $col_start:1, $col_end:2);
            $a: $a+1;
            $b: $b+1;
        }
    }

    video {
        width: 400px;
    }
    .label {
        @include pattern($display: block, $color: #ffffff, $width: auto, $margin:0);
        font-size: 2em;
        float: none;
    }

    .test > li > a {
        height: fit-content;
        z-index: 10;
    }
}